/* Here we use another method to denote the style in our html document */
:root {
    background-color: bisque;
}

html, body {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    padding: 0%;
    margin: 0%;
    font: 200;
    color: rgb(82, 4, 7);
}

/* You can add multiple element to give it one style*/
.header, .footer {
    border-bottom: 1px blue;
    padding: 10px;
}

.img {
    padding: 10px 50px;
    size: 50px;
    border: 20px;
}

/* Nav element is used to style navigation links */
nav a {
    margin: 0, 10px;
}

/*You can decide to a specific tag within an element your desired style */

h3, h2 {
    color: rgb(40, 11, 53);
    font-size: larger;
}

/* Here we display grid setting, this can be used for columns or rows*/
.grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5px;
    border: 20px;
}

.grid-cell_1, .grid-cell_2, .grid-cell_3 {
    height: 50px;
    width: 50px;
    background-image: url(./Learner1.png);
}