/* Here we use another method to denote the style in our html document */
:root {
    background-color: bisque;
    font: 20px;
}

html, body {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    padding: 0%;
    margin: 0%;
    font: 200;
    color: rgb(82, 4, 7);
}

/* You can add multiple element to give it one style*/
.header, .footer {
    border: 5px blue;
    border-color: rgb(99, 49, 133);
    padding: 10px;
}

/* Nav element is used to style navigation links */
nav a {
    margin: 0, 10px;
}

/*You can decide to a specific tag within an element your desired style */

h3, h2 {
    color: rgb(40, 11, 53);
    font-size: larger;
    font-weight: bold;
}

img {
    height: 400px;
    width: 550px;
    background: none;
    padding: 0;
}

/* Here we display grid setting, this can be used for columns or rows*/
.grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5px;
    border: 20px;
}

.grid-cell {
    height: 50px;
    width: 50px;
    border-color: rgb(232, 228, 237);
    padding: 20px;
    border: 1px;
    background-image: url(./Learner2.png);
}

.flex {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
}

.flex-cell {
    height: 50px;
    width: 50px;
    border-color: rgb(232, 228, 237);
    padding: 20px;
    border: 1px;
    background-image: url(./Learner2.png);
}

/* sTyling on mobile devices*/
@media (max-width: 768px) {
    .flex {
        flex-direction: column;
    }
}